<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-09-09T16:44:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/runner/work/1/s/SetappFramework.xcodeproj</string>
</dict>
</plist>
